<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1 th:text="Аннотация + ': ' +  ${annotation}"> </h1>

<ul th:if="not ${bookDto.getBooks().isEmpty()}">
  <div  th:each="book : ${bookDto.getBooks()}">
    <li th:text="${book.getTitle()} + ', ' + ${book.getPublishing()} + ', ' +  ${book.getYear()}"></li>
  </div>
</ul>

<span th:if="${bookDto.getBooks().isEmpty()}">Книги по данной аннотации не найдены</span>
<br/>
<a href="/home">На главную страницу</a>
</body>
</html>